{% extends "base.html" %}

{% block page_title %}
    <h2 class="fw-bold">Blog posts</h2>
    <br />
{% endblock page_title %}

{% block page_content %}
    {% block posts %}
        <div class="row gy-4">
        {% for post in posts %}
            <div>
                <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
                <small>
                    {{ post.created_on }} | Categories: 
                    {% for category in post.categories.all %}
                        <a href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                    {% endfor %}
                </small>
                <p class="mt-2">
                    {{ post.body | slice:":400" }}...
                </p>
            </div>
        {% endfor %}
        </div>
    {% endblock posts %}
{% endblock page_content %}