{% extends 'base.html' %}

{% block page_content %}
    <h2 class="text-center fw-bold mb-4">Login</h2>
 
    <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-column align-items-center" style="flex: 1;">
            {% for field in form %}
                <div class="w-25 mb-3">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    <input class="form-control" id="{{ field.id_for_label }}" 
                        type="{% if field.html_name == 'password' %}{{ 'password'}}{% else %}{{ 'text' }}{% endif %}" 
                        name="{{ field.html_name }}" 
                        maxlength="20" 
                        value="{% if field.value == 'None'  %}{{ field.value }}{% else %}{{ '' }}{% endif %}" 
                        placeholder="" 
                    />
                    {{ field.errors }}
                </div>
            {% endfor %}
            <!-- {{ form.as_p }} -->
            <input type="submit" value="Go" class="btn btn-success" />
        </div>
    </form>
{% endblock %}